* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	box-sizing: border-box;
  	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;

	background-color: #ffffff;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
}

/*
 * HEADER
 */
header {
	background-color: #e8b787;
}

header ul {
	display: flex;

	background-color: #eeeeee;
}

header ul li {
	padding: 10px;
	list-style: none;

	background-color: #992f4d;
	border-right: 1px solid black;
}

/*
 * CORPS
 */
section {
	background: #498379;
}

section p {
	background: #b7c775;
}

/*
 * FOOTER
 */
footer {
	background-color: #0a425e;
}

/*
 * TITLES
 */
h1 {
  margin: 0;
  padding: 0;
  font-size: 3.2rem;
  font-family: Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 2.8rem;
  font-family: Helvetica, Arial, sans-serif;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.6rem;
}

.smaller {
  font-size: 0.71em;
}
.small {
  font-size: 0.86em;
}
.big {
  font-size: 1.14em;
}
.bigger {
  font-size: 1.29em;
}
.biggest {
  font-size: 1.43em;
}

em, .italic {
  font-style: italic;
}
strong, .bold {
  font-weight: bold;
}
