@font-face {
	font-family: custom1;
	src: url('PWRoundedScratch.ttf');
}

@font-face {
	font-family: custom2;
	src: url('Pacifico.woff');
}

* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	box-sizing: border-box;
  	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	max-height: 100%;

	background-color: #ffffff;
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*
 * HEADER
 */
header {
	background-color: #5c1b35;
	position: absolute;
	top: -7px;
	left: 2%;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 10px;
	
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
	
	z-index: 200;

}

header h1 {
	color: #e2edb7;
	font: 2.8em custom2, sans-serif;
	text-shadow: rgba(226, 237, 183, 0.4) 0px 0px 7px;
}

/*
 * SIDEBAR
 */
aside {
	position: absolute;
	right: 0px;
	z-index: 200;
	top: 15%;
	max-height: 60%;
	border-top-left-radius: 22px;
	border-bottom-left-radius: 22px;
	background-color: #5c1b35;
	width: 276px;
	overflow: auto;
}
aside h1 {
	color: #e2edb7;
	font: 2em custom2, sans-serif;
	text-shadow: rgba(226, 237, 183, 0.4) 0px 0px 7px;
	text-align: center;
	margin-left: 6px;
	margin-top: 6px;
}
aside select  {
	display: inline-block;
	margin-right: 5px;
	margin-left: 6px;
	color : #f6f6f6;
	
}
aside>label {
	margin-left: 6px;
}
aside select {
	width: 210px;
}
.ui-widget-content {
	max-height: 200px;
}

/*
 * ROUTES + DIALOGBOX
 */

#route, #optionLink a {
	margin-top: 15px;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: bold;
}

#optionLink {
	text-align: center;
}
#optionLink a {
	color: #e2edb7;
	text-decoration: none;
}
#optionLink a:hover {
	color: white;
}

.Vertex {
	background: black;
	height: 41px;
	color: white;
	font-size: 0.8em;
}
.No {
	background: red;
}

.Vertex span {
	display: inline-block;
	border: 3px white solid;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	text-align: center;
	margin-top: 5px;
	margin-left: 8px;
	margin-right: 8px;
	padding-top: 4px;
}

.Piste, .Icone {
	margin-top: 5px;
	margin-bottom: 12px;
	font-size: 0.8em;
	color: #e2edb7;
}

.Icone img, .checkIcone img {
	display: inline-block;
	margin-left: 19px;
	vertical-align: middle;
	margin-right: 5px;
}

.Piste span, .checkV span, .checkB span, .checkR span, .checkN span {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid;
	height: 12px;
	width: 12px;
	margin-left: 19px;
	margin-right: 5px;
	vertical-align: middle;
}
.V span, .checkV span {
	border: green;
	background: green;
}
.B span, .checkB span {
	border: blue;
	background: blue;
}
.R span, .checkR span {
	border: red;
	background: red;
}
.N span, .checkN span {
	border: black;
	background: black;
}

body>.ui-widget-content {
	max-height: 2000px;
}

/*
 * CORPS
 */
section {
	background: #498379;
	overflow: hidden;
	width: 100%;
}

section div {
	background: #b7c775;
}

section img {
	width: 100%;
	z-index: 50;
}
area {
	background: red;
}

/*
 * FOOTER
 */
footer {
	margin-top: auto;
	padding-top: 5px;;
	background-color: #5c1b35;
	width: 100%;
	height: 65px;
	font-size: 1.5em;
	z-index: 200;
}

footer ul {
	display: flex;
	justify-content: space-around;
}

footer ul li {
	list-style: none;
	font-family: custom1, sans-serif;
	text-align: center;
}

footer ul li a {
	color: #e2edb7;
	text-decoration: none;
}

footer ul li a:hover {
	text-shadow: rgba(226, 237, 183, 1) 0px 0px 4px;
}

/*
 * MARQUEUR
 */
#container span {
	width: 27px;
	height: 40px;
	position: absolute;
	left: -13px;
	top: -35px;
	font: 12px bold;
	line-height: 25px;
	letter-spacing: -1px;
	text-align: center;
	color: #fff;
	z-index: 100;
	background: url(../img/marker.png);
}

/*
 * INFOBULLE
 */
.ui-widget-content {
	box-shadow: 0 0 5px #aaa;
	border-radius: 4px;
	border: 1px solid #aaaaaa;
}

.smaller {
  font-size: 0.71em;
}
.small {
  font-size: 0.86em;
}
.big {
  font-size: 1.14em;
}
.bigger {
  font-size: 1.29em;
}
.biggest {
  font-size: 1.43em;
}

em, .italic {
  font-style: italic;
}
strong, .bold {
  font-weight: bold;
}
